{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block stylesheets %}


{% endblock %}

{% block body %}
    <a href="{{ path('app_premium') }}" class="btn-view-offers">Simuler le paiement</a>
{% endblock %}

{% block javascripts %}

{% endblock %}
