{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block stylesheets %}


{% endblock %}

{% block body %}
    <a href="#" class="btn-view-offers">L'entreprise a payé</a>
{% endblock %}

{% block javascripts %}

{% endblock %}
