{% extends 'base.html.twig' %}

{% block title %}Recherche de villes{% endblock %}
{% block stylesheets %}
<style>
    body {
        padding-top: 65px;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        color: #333;
        margin-bottom: 20px;
    }

    .search-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .country-select {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .country-select select {
        padding: 10px;
        border: 2px solid #007BFF;;
        font-size: 1em;
        border-radius: 5px;
        color: #333;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        outline: none;
        background-color: #f0f2f5;
    }

    .country-flag {
        width: 24px;
        height: 16px;
        margin-right: 10px;
    }

    #citySearch {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #007BFF;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: border-color 0.3s;
        box-sizing: border-box;
    }

    #citySearch:focus {
        border-color: #0056b3;
    }

    .suggestions {
        width: 300px;
        border: 1px solid #007BFF;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: absolute;
        z-index: 10;
        max-height: 200px;
        overflow-y: auto;
        display: none;
        box-sizing: border-box;
        margin-top: 100px;
    }

    .suggestions div {
        padding: 10px;
        cursor: pointer;
    }

    .suggestions div:hover {
        background-color: #f1f1f1;
    }

    .suggestion-item {
        padding: 8px;
        cursor: pointer;
    }

    .suggestion-item.highlighted {
        background-color: #cce5ff; /* Bleu clair */
        font-weight: bold;
        color: #004085; /* Bleu foncé */
        border-radius: 4px;
    }


    /* Image du document floue par défaut */
    .document-image {
        width: 100%;
        height: 100%;
        max-width: 300px;
    }

    /* Image du document floue par défaut */
    .document-image-flou {
        width: 100%;
        height: 100%;
        max-width: 300px;
        filter: blur(12px); /* Flou initial */
        transition: filter 2s ease;
    }

    /* Superposition du flou */
    .blur-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        pointer-events: none;
    }

</style>
{% endblock %}


{% block body %}
    <center><p><span class="amarante" style="font-size:2em">CityZen</span> est un outil pour faciliter votre expatriation. <br>Il s'adresse aux personnes qui souhaitent s'installer dans un nouveau pays et qui cherchent à trouver toutes les informations nécessaires pour leur nouvelle vie.</p></center>
    <div class="container">
        <h1 class="text-center">City-Zen</h1>
        <div class="search-wrapper">
            <div class="country-select">
                <img id="flagIcon" class="country-flag" src="https://flagcdn.com/w320/fr.png" alt="Drapeau">
                <select id="countrySelect" onchange="updateFlag()">
                    <option value="fr">France</option>
                    <option value="au">Australie</option>
                </select>
            </div>
            <input type="text" id="citySearch" placeholder="Rechercher une ville" autocomplete="off">
            <div id="suggestions" class="suggestions"></div>
            <div style="position: relative; display: inline-block;">
                {% if app.user %}
                    <img src="{{ asset('homepage/comingsoon.png') }}" alt="Document flou" class="document-image" id="documentImage" oncontextmenu="return false;">
                {% else %}
                    <img src="{{ asset('homepage/comingsoon.png') }}" alt="Document flou" class="document-image-flou" id="documentImage" oncontextmenu="return false;">
                {% endif %}
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0);"></div>
            </div>
        </div>
    </div>
    {% if is_granted("ROLE_PREMIUM") %}
        <img src="{{ asset('homepage/premium.webp') }}" alt="Premium" style="width: 100px; height: 100px;">
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('homepage/script.js') }}"></script>
    <script>
        function updateFlag() {
            const countrySelect = document.getElementById("countrySelect");
            const flagIcon = document.getElementById("flagIcon");
            const country = countrySelect.value;
            flagIcon.src = `https://flagcdn.com/w320/${country}.png`;
        }
    </script>

{% endblock %}
