{% extends 'base.html.twig' %}

{% block title %}Your checklist{% endblock %}

{% block body %}
    <style>
        body {

            padding: 20px;
        }
        .header {
            text-align: left;
        }
        .header img {
            text-align: center;
            max-width: 150px;
        }

        .img-left {
            margin-left: 40px;
            margin-right: 10px;
        }

        .img-right {
            margin-left: 10px;
            margin-right: 40px;
        }

        h2 {
            color: white;
            border: 2px solid #333;
            border-radius: 10px;
            display: inline-block;
            background-color: #010535;
            padding: 10px 0; /* Ajuste le padding si nécessaire */
            margin: 0; /* Supprime les marges par défaut autour du h2 */
            text-align: center; /* Centre le texte et les images */
            vertical-align: middle; /* Aligne verticalement le texte et les images */
        }

        h2 img {
            vertical-align: middle; /* Assure que les images s'alignent correctement avec le texte */
        }

        h3 {
            margin-left: 180px;
        }

        .checkbox-group {
            margin-top: 20px;
        }
        label {
            display: block;
            margin: 10px 0;
        }
        input[type="checkbox"] {
            margin-right: 10px;
        }
        .submit-button {
            margin-top: 20px;
            padding: 10px 15px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>


<div class="header">
    <!-- Logo de l'entreprise --><br><br>
    <h2><img src="{{ asset('homepage/logo_colonne_jaune.png') }}" alt="colonne" style="height: 48px;" class="img-right">Checklist des informations<img src="{{ asset('homepage/logo_colonne_jaune.png') }}" alt="colonne" style="height: 48px;" class="img-left"></h2><br>
    <h3>Destination: <strong>Sydney</strong></h3>
</div>

    <div class="checkbox-group">

        <h4>Attractions touristiques</h4>
        <label><input type="checkbox" name="attractions"> Opéra de Sydney</label><br>
        <label><input type="checkbox" name="attractions"> Sydney Harbour Bridge</label><br>
        <label><input type="checkbox" name="attractions"> Bondi Beach</label><br>
        <label><input type="checkbox" name="attractions"> Royal Botanic Gardens</label><br>
        <label><input type="checkbox" name="attractions"> Darling Harbour</label><br>

        <h4>Culture et loisirs</h4>
        <label><input type="checkbox" name="culture"> Festivals culturels</label><br>
        <label><input type="checkbox" name="culture"> Musées et galeries d'art</label><br>
        <label><input type="checkbox" name="culture"> Représentations théâtrales</label><br>

        <h4>Événements annuels</h4>
        <label><input type="checkbox" name="evenements"> Sydney Festival</label><br>
        <label><input type="checkbox" name="evenements"> Mardi Gras</label><br>
        <label><input type="checkbox" name="evenements"> Vivid Sydney</label><br>

        <h4>Sports</h4>
        <label><input type="checkbox" name="sports"> Rugby</label><br>
        <label><input type="checkbox" name="sports"> Football australien</label><br>
        <label><input type="checkbox" name="sports"> Cricket</label><br>


        <h4>Climat</h4>
        <label><input type="checkbox" name="climat"> Vêtements légers pour été</label><br>
        <label><input type="checkbox" name="climat"> Vêtements modérés pour hiver</label><br>
        <label><input type="checkbox" name="climat"> Poncho</label><br>


        <h4>Informations pratiques</h4>
        <label><input type="checkbox" name="infos_pratiques"> Régler ses appareils avec un fuseau de +1Oh</label><br>
        <label><input type="checkbox" name="infos_pratiques"> Pratiquer l'anglais</label><br>
        <label><input type="checkbox" name="infos_pratiques"> Convertir euros en dollars</label><br>
        <label><input type="checkbox" name="infos_pratiques"> Prises électriques : Type I</label><br>

        <h4>Logement</h4>
        <label><input type="checkbox" name="logement">Trouver un logement </label><br>


        <h4>Transport</h4>
        <label><input type="checkbox" name="transport"> City Circle</label><br>
        <label><input type="checkbox" name="transport"> Trip Planner</label><br>

        <h4>Éducation</h4>
        <label><input type="checkbox" name="education"> Écoles bilingues</label><br>
        <label><input type="checkbox" name="education"> S'inscrire pour la <strong>School certificate</strong></label><br>

        <h4>Santé</h4>
        <label><input type="checkbox" name="sante"> Créer son compte sur Médicare</label><br>

        <h4>Visa</h4>
        <label><input type="checkbox" name="visa"> Visa TSS (subclass 482)</label><br>
        <label><input type="checkbox" name="visa"> Visa temporaire</label><br>

        <h4>Vaccins</h4>
        <label><input type="checkbox" name="vaccins"> Vaccination contre l'Encéphalite japonaise</label><br>
        <label><input type="checkbox" name="vaccins"> Vaccination contre la fièvre jaune</label><br>

    </div>

    <br><br><br>
    <a href="{{ path('app_order_result', {'id': order.id}) }}">Retour à la page d'informations</a>
{% endblock %}
{% block javascripts %}

{% endblock %}

