{% extends 'base.html.twig' %}

{% block body %}
<head><title>Commande</title>
<style>
        body{padding-top: 65px}
        h2 {padding-top: 3pt;padding-left: 5pt;text-indent: 0pt;text-align: justify;}
        p {padding-top: 6pt;padding-left: 5pt;text-indent: 0pt;line-height: 114%;text-align: justify;}
        li {display: block; }
        #l1 {padding-left: 0pt; }
        #l1> li>*:first-child:before {content: "• "; color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; }
    </style></head><body>
    <h1>Visa</h1>
<h2>TSS (subclass 482)</h2><p>Avec le <i>Temporary Skill Shortage </i>visa (TSS), vous êtes sponsorisé par une entreprise australienne. C’est le visa le plus couramment utilisé pour s’expatrier professionnellement en Australie. Ce visa se divise en 2 catégories : <b>Short-term stream </b>et <b>Medium-term stream</b>. Vous devez :</p><ul id="l1"><li data-list-text="•"><p style="padding-top: 6pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: justify;">Justifier d’une <b>expérience professionnelle d’au moins 2 ans </b>dans votre domaine d’embauche.</p></li><li data-list-text="•"><p style="padding-left: 41pt;text-indent: -14pt;line-height: 14pt;text-align: justify;">Votre poste doit être listé dans les listes d’emplois STSOL* ou la MLTSSL**.</p></li><li data-list-text="•"><p style="padding-top: 2pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: left;">Pour faire votre demande de TSS short term, vous devrez prouver un <b>bon niveau d’anglais</b>. En effet, une note globale de 5 à un test de langue (<b>IELTS </b>ou équivalent) est nécessaire. Vous devrez obtenir une note de 4,5 (pour le short-term stream) et 5 (pour le medium-term stream) dans chaque matière. <i>NB: Vous n’aurez pas à passer de test pour prouver votre niveau d’anglais si vous possédez un passeport du Canada, Nouvelle Zélande, République d’Ireland, Royaume-Uni, Etats-Unis.</i></p></li><li data-list-text="•"><p style="padding-top: 6pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">L’applicant doit prouver son intention de <b>s’installer de manière provisoire </b>en Australie.</p></li><li data-list-text="•"><p style="padding-top: 2pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: justify;">Vous devez travailler en Australie <b>uniquement dans la profession </b>pour laquelle vous avez été nommé et uniquement pour l’entreprise de nomination ou dans certaines circonstances, une entité associée à l’entreprise.</p>

        {% if order.term <= 2 %}
            <! Visa short-term>
            <p>Ce visa <b>short-term stream </b>est :</p></li><li data-list-text="•"><b style="padding-top: 9pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Durée : <span class="p">Jusqu’à 2 ans.</span></b></li><li data-list-text="•"><b style="padding-top: 9pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: left;">Voie vers la Résidence Permanente : <span class="p">Ce visa n’offre pas d’ouverture vers un visa de résidence permanente.</span></b></li><li data-list-text="•"><b style="padding-top: 6pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Soins : <span class="p">vous pourrez bénéficier du système de santé australien Medicare sous ce visa.</span></b></li><li data-list-text="•"><b style="padding-top: 9pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: justify;">Coût : 1 495 $AU <span class="p">(juillet 2024) pour le demandeur + frais pour chacun des autres membres de la famille.</span></b>
        {% else %}
            <! Visa medium-term>
            <p>Ce visa <b>medium-term stream </b>est :</p></li><li data-list-text="•"><b style="padding-top: 13pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Durée : <span class="p">Jusqu’à 4 ans.</span></b></li><li data-list-text="•"><b style="padding-top: 2pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Éligibilité : <span class="p">Professions inscrites sur la liste des professions à moyen et long terme</span></b><b style="padding-top: 2pt;padding-left: 41pt;text-indent: 0pt;text-align: left;">MLTSSL** <span class="p">ou la </span>ROL***<span class="p">.</span></b></li><li data-list-text="•"><b style="padding-top: 2pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: left;">Voie vers la Résidence Permanente : <span class="p">Éligible à la résidence permanente par le biais du Programme de Nomination des Employeurs (ENS) Subclasse 186 ou du Programme de Migration Régionale Sponsorisée (RSMS) Subclasse 187 après trois ans.</span></b></li><li data-list-text="•"><b style="padding-left: 41pt;text-indent: -14pt;line-height: 14pt;text-align: left;">Soins : <span class="p">vous pourrez bénéficier du système de santé australien Medicare sous ce visa.</span></b></li><li data-list-text="•"><b style="padding-top: 8pt;padding-left: 41pt;text-indent: -14pt;line-height: 114%;text-align: left;">Coût <span class="p">: </span>3 115 $AU <span class="p">(juillet 2024) pour l’applicant principal et tout applicant de plus de 18 ans.</span></b></li>
        {% endif %}
</ul><p class="s1" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">* STSOL : Short-term Skilled Occupation List (liste des professions qualifiées à court terme)</p><p class="s1" style="padding-left: 5pt;text-indent: 0pt;text-align: left;">** MLTSSL : Medium and Long-term Strategic Skills List (liste des compétences stratégiques à moyen et long terme)<span class="p">.</span></p><p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">*** <i>ROL : Regional Occupation List (liste des professions régionnal)</i></p>
<p style="text-indent: 0pt;text-align: left;"><br/></p><p>À vérifier sur ce <a href="https://immi.homeaffairs.gov.au/visas/working-in-australia/skill-occupation-list">site.</a></p></body></html>

    <h1>Vaccins</h1>

    {% if not order.vaccins or order.enfants > 0 %}
        <h2>Encéphalite japonaise</h2>
        <p>Vaccination recommandée uniquement pour îles du détroit de Torres (Outer Torres strait islands) pendant la période de transmission (habituellement de décembre à mai. Mais la circulation pouvant rester active sur une période plus étendue en 2022</p>
        <p><li data-list-text="•"><b style="padding-top: 9pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Schéma vaccinal (à partir de l'âge de 2 mois) : </b>2 injections espacées de 7 (adulte) à 28 jours.</li>
            <li data-list-text="•"><b style="padding-top: 9pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Rappel (adulte) :</b> 12 à 24 mois plus tard. </li>
            <li data-list-text="•"><b style="padding-top: 9pt;padding-left: 41pt;text-indent: -14pt;text-align: left;">Validité administrative :</b> à vie.</li>
        </p>
    {% endif %}
    <p><b>NB :</b> Un certificat de vaccination contre la fièvre jaune est exigé des voyageurs âgés d’un an et plus en provenance d’un pays où il y a un risque de transmission de la fièvre jaune (à l’exception des îles Galapagos, Equateur), y compris les voyageurs restés plus de 12 heures en transit dans un aéroport de ce pays.</b></p>

    <h1>Transport</h1>
    {% if order.voiture %}
        <h2>Voiture</h2>
        <p>La conduite à Sydney est simple et sûre, mais il sera peut-être plus facile d'utiliser les taxis, le covoiturage et les transports en commun pour vous déplacer en ville. Vous pouvez également réserver de magnifiques excursions à l'extérieur de Sydney et vous faire conduire.</p>
        <p>Toutefois si vous louez une voiture à l'aéroport ou en ville, vérifiez auprès de votre hôtel si ce dernier facture des frais de stationnement journaliers. Dans la rue, le stationnement peut être gratuit ou payant. Vous pouvez également utiliser les parkings sécurisés de la ville.</p>
    {% else %}
        <h2>Transport en commun</h2>
        <p>Le train est un moyen efficace de se déplacer dans Sydney. Prenez le City Circle pour rejoindre les ferries de Circular Quay, le quartier des commerces autour des gares Town Hall Station et Central Station. Utilisez l'outil Trip Planner pour planifier votre itinéraire.</p>
        <p>De minuit à 4h30 du matin, les bus NightRide remplacent les trains.</p>
    {% endif %}



<a href="{{ path('app_order_new') }}">Créer une nouvelle commande dans cette ville.</a>



{% endblock %}